* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}


html{
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a,
a:visited,
a:active {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

::selection{
    background-color: yellow;
}

em{
    font-style: normal;
}