// Utilidades para el challenge obviar este archivo
@use "./utilities/mixins";

.center {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: O auto;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem;
    &::after {
        content: " (📱)";
        display: inline;
        @include mixins.make-responsive("tablet") {
            content: " (🍫)";
        }
        @include mixins.make-responsive("desktop") {
            content: " (🖥️)";
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 96rem;
    padding: 2rem;
    border: 0.2rem dashed #ccc;
    @include mixins.make-responsive("tablet") {
        content: " (🍫 768px)";
    }
    @include mixins.make-responsive("mobile") {
        content: " (📱 360px)";
    }
}
