@use './breakpoints';

@mixin make-responsive($device) {
    @if (map-has-key(breakpoints.$devices, $device)) {
        @media screen and (min-width: map-get(breakpoints.$devices, $device)) {
            @content;
        }
    }
}
