@use "../utilities/mixins";
@use "../utilities/design-system";
.badge {
    // Esto con react no estaria. Es solo para emularlo.
    display: none;
    @include mixins.make-responsive("desktop") {
        display: block;
        position: absolute;
        bottom: .8rem;
        left: .8rem;
        padding: .5rem 1rem;
        background-color: red;
        border-radius: 1.125rem;
        font-size: map-get(design-system.$paragraph-font-sizes, xs);
        font-weight: lighter;
        color: white;
        text-align: center;
        &::before{
            content: "●";
            margin-right: .5rem;
        }
    }
}