$primary-light: hsl(0, 0%, 35%);
$primary-normal: hsl(0, 0%, 15%);
$primary-dark: hsl(240, 0%, 12%);
$emphasis: hsl(216, 98%, 40%);
$border: hsl(0, 0%, 85%);
@use "../utilities/mixins";
@use "../utilities/design-system";
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__media {
        position: relative;
        .media__image {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            &--horizonal {
                aspect-ratio: 3 / 2;
            }
            &--vertical {
                aspect-ratio: 2 / 3;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__title {
            width: 100%;
            font-weight: bold;
            font-size: map-get(design-system.$title-font-sizes, md);
            font-family: "Roboto Slab", serif;
            color: $primary-dark;
            em {
                display: inline-block;
                color: $emphasis;
                font-weight: 500;
            }
            @include mixins.make-responsive("tablet") {
                font-size: map-get(design-system.$title-font-sizes, sm);
                font-weight: 400;
            }
        }
        &__sub-title {
            width: 100%;
            font-weight: 400;
            font-size: map-get(design-system.$title-font-sizes, xs);
            line-height: 2.2rem;
            color: $primary-light;
        }

        &__about {
            font-size: map-get(design-system.$paragraph-font-sizes, lg);
            font-weight: 700;
            color: $primary-light;
        }
        
    }
    &--featured {
        justify-content: flex-start;
        position: relative;
        @include mixins.make-responsive("tablet") {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
        & .card__info__title {
            font-size: map-get(design-system.$title-font-sizes, md);
            @include mixins.make-responsive("tablet") {
                font-size: map-get(design-system.$title-font-sizes, xl);
                font-weight: bold;
            }
        }
        & .card__info__sub-title {
            font-size: map-get(design-system.$title-font-sizes, xs);
        }
        &::before {
            position: absolute;
            @include mixins.make-responsive("tablet") {
                content: "";
                right: -1.5rem;
                height: 100%;
                border-right: 0.1rem solid #cccccc;
            }
            @include mixins.make-responsive("desktop") {
                content: "";
                right: -3rem;
                height: 100%;
                border-right: 0.1rem solid #cccccc;
            }
        }
    }
    .primary-link {
        width: 100%;
        @include mixins.make-responsive("desktop") {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.card--author {
    position: relative;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 0;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    min-height: 24rem;
    border: 0.1rem solid $border;

    @include mixins.make-responsive("tablet") {
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    & .card__media {
        position: absolute;
        bottom: -0.125rem;
        padding: 5rem 0;
        border-bottom: 0.2rem solid $primary-dark;
        & img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            @include mixins.make-responsive("tablet") {
                width: 8rem;
                height: 8rem;
            }
        }
    }
    & .card__info {
        &__title {
            text-align: center;
        }
        &__about {
            position: absolute;
            bottom: 0;
            height: 3rem;
            text-align: center;
            width: calc(100% - 3rem);
            @include mixins.make-responsive("tablet") {
                width: calc(100% - 6rem);
            }
        }
    }
}