@use "../utilities/design-system";
.container-news{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &__title{
        width: 100%;
        font-weight: bold;
        font-size: map-get(design-system.$title-font-sizes, lg);
        font-family: "Roboto Slab", serif;
        padding-bottom: .7rem;
        border-bottom: 0.1rem solid #E4E4E4;
    }
}