@use "../utilities/mixins";
.focal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    @include mixins.make-responsive("tablet") {
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }
    @include mixins.make-responsive("desktop") {
        gap: 6rem;
    }

    &--left {
        & .card {
            &:nth-child(1){
                    grid-row-end: span 2;
                    grid-column-end: span 2;
            }
            &:nth-child(2),&:nth-child(3) {
                grid-row-end: span 2;
                grid-column-end: span 2;
                @include mixins.make-responsive("tablet") {
                    grid-row-end: span 1;
                    grid-column-end: span 1;
                }
            }
        }
    }
}
