@use "../utilities/mixins";
.group-news {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
    &--2{
        @include mixins.make-responsive("tablet") {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
        }
        @include mixins.make-responsive("desktop") {
            gap: 4rem;
        }
    }
    &--3{
        @include mixins.make-responsive("tablet") {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;
        }
        @include mixins.make-responsive("desktop") {
            gap: 4rem;
        }
    }
}